@import "tailwindcss";

@theme {
  --color-background: #040B16;
  --color-primary: #1d4ed8;
  --color-accent: #3b82f6;
  --background-image-glow-gradient: radial-gradient(circle, rgba(59,130,246,0.15) 0%, rgba(4,11,22,0) 70%);
}

body {
  background-color: var(--color-background);
  color: #ffffff;
}